<!DOCTYPE html>
<html>
    <head>
        <title>Mein Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/main.css" media="screen"/>
    </head>
    <body>
        <!-- Here goes the content -->
        <!-- ToDo: Abgleich, ob gewünschter username schon vergeben ist -->
        <!-- ToDo: Abgleich, ob die eingegebenen Passwörter identisch sind -->
    </body>
</html>