<!DOCTYPE html>
<html>
    <head>
        <title>Change User Data</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/main.css" media="screen"/>
    </head>
    <body>
        <p>Hello, my dear blob!<br>

            <form action="/change_username" method="POST"> 
            You signed in as: <br>
            <%= username %><br>
            You want to change your username?<br>
            <!-- Please insert here your old username first:  <input type="text" name="username" placeholder="Old Username" required><br> -->
            Insert your new username here:<br>
            <input type="text" name="newusername" placeholder="New Username" required><br>
            <input type="submit" value="Mama, I want to be called differently!"> <br>
            </form>

            <form action="/change_mailadress" method="POST"> 
            Your mailadress:<br>
            <%= email %><br>
            New mailadress? Change it here:<br>
            <input type="email" name="new email" placeholder="New E-Mail" required><input type="submit" value="Send me a mail!"><br>
            <!-- We sent you a mail to verify your new mailadress.-->
            </form>

            <form action="/change_password" method="POST"> 
            You want to change your password?
            Enter your new password here:
            <input type="password" name="new password" placeholder="New Password" required><br>
            <input type="submit" value="Let´se go!"
            </form>

            <form action="/delete_account" method="POST"> 
            You want to delete your account?<br>
            That´s very sad. We´ll miss you! Come back anytime to rejoin The Blobfish-Family. <br>
              <!-- Please insert here first your username:  <input type="text" name="username" placeholder="Username" required><br> 
                And your password: <input type="password" name"password" placeholder="Password" required> <br>-->
            <input type="submit" value="Let me go"> <br>
            </form>

            <a href="/home">Yay, back to random!</a>
        </p>
    </body>
</html>