<!DOCTYPE html>
<html>
    <head>
        <title>Cookies And Datasecurity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/main.css">

    </head>
    <body>
           <form action="/home">
                <button class="backbutton_design" type="submit"><strong>BACK TO HOME</strong></button>
            </form>

            <div id="wrap">
                <div id="middle_col">
                    <div id="middle_col_box">
                            <h1><strong>We like our privacy like our eggs... </strong></h1>
        
                            <p>...-well done. </p>
                               <p> Your information is safe with us. </p>
                                <p>We promise you, that we won´t sell your personal data to third parties or use you as our blob for scientific research. </p>
                                <p>I mean, why would we?</p>
                                <p> Seriously, we don´t have ads on this side, we´re here for fun. And if that changes someday, we´ll make sure to let you know. </p>
                    
                                <h1><strong>What about my Uploads?</strong></h1>
                                <p>Please don´t forget, if you upload a file to our site, it´s on the internet for all eternity. So if you don´t wish to share your files with the whole world, we discourage you from uploading it.</p>
                                
                            <h1><strong>Come to our Website... we have cookies!</strong></h1>
                            <p> Our website uses cookies. What kind of cookies? </p>
                            <p> We use session-cookies and logIn-cookies, both are necessary to log you in and to keep you logged in, even if you accidentally close your browser and reopen it. </p>
                            <p> Session- and logIn-cookies don´t share any data. So you don´t have to worry about them. </p>
                            <p> So, take a cookie.</p>
                            
                    
                         <!--  <a href="/start">Home</a> Back to random! -->
                    </div>
                </div>
                <div class="footer">
                        <img src="icons/icon-blobfish-white.svg" alt="logo" />
                        <p>© 2019 All Rights Reserved</p>
                </div>
            </div>
    
    </body>
</html>