<!DOCTYPE html>
<html>
    <head>
        <title>Cookies And Datasecurity</title>
    </head>
    <body>
        <h1>We like our privacy like our eggs... </h1>
        <p>...-well done. <br>
            Your information is safe with us. <br>
            We promise you, that we won´t sell your personal data to third parties or use you as our blob for scientific research. <br>
            I mean, why would we?<br>
            Seriously, we don´t have ads on this side, we´re here for fun. And if that changes someday, we´ll make sure to let you know. <br>
        </p>
        <h1>Take a cookie...</h1>
        <p> Our website uses cookies. What kind of cookies? <br>
            We use session-cookies and logIn-cookies, both are necessary to log you in and to keep you logged in, even if you accidentally close your browser and reopen it. <br>
            Session- and logIn-cookies don´t share any data. So you don´t have to worry about them. <br> 
        </p><br>
        <a href="/start">Home</a> Back to random!
    </body>
</html>