<!DOCTYPE html>
<html>
    <head>
        <title>Cookies And Datasecurity</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <h1>We like our privacy like our eggs... </h1>
        <div class="cookies">
        <p>...-well done. </p>
           <p> Your information is safe with us. </p>
            <p>We promise you, that we won´t sell your personal data to third parties or use you as our blob for scientific research. </p>
            <p>I mean, why would we?</p>
            <p> Seriously, we don´t have ads on this side, we´re here for fun. And if that changes someday, we´ll make sure to let you know. </p>
    </div>
        <h1>Take a cookie...</h1>
        <div class="cookies">
        <p> Our website uses cookies. What kind of cookies? </p>
        <p> We use session-cookies and logIn-cookies, both are necessary to log you in and to keep you logged in, even if you accidentally close your browser and reopen it. </p>
        <p> Session- and logIn-cookies don´t share any data. So you don´t have to worry about them. </p>
        </div>
        <div class="cookies">
        <a href="/start">Home</a> Back to random!
    </div>
    <div class="footer">
        <p>© 2019 All Rights Reserved</p>
    </div>
    </body>
</html>