<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Upps! Da ist etwas schief gelaufen!
            Fehler: <%= error %>
        </p><br>
        <a href="/start">Hier</a> geht es zur Startseite.
    </body>
</html>