<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p> Well, that didn´t work... we´re sorry for your loss! 
            Error: <%= error %>
        </p><br>
        <a href="/start">Try again.</a> Back to random!
    </body>
</html>