<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <title><%= title %></title>
    </head>
    <body>
        <div class="error">
                <img src="icons/icon-blobfish-white.svg" alt="logo" />
        <h2>HELLO, I AM HERE!!! Oh and btw...</h2>
        <h1><%= title %></h1>
        <p> Error: <%= error %>
            We´re sorry for your loss!  
        </p>
    </div>
    <div class="error">
        <a href="/">Try again.</a>
    </div>
    </body>
</html>