<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>        
        <p>Du bist eingeloggt als <%= username %><br>
            Deine E-Mail lautet <%= email %><br>
            <a href="/home">Weiter</a>
        <p>      
    </body>
</html>