<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Du bist eingeloggt als 
        <%= username %>
        Deine E-Mail lautet
        <%= email %><br>
        <a href="/home.html">Weiter</a>
    </p>
    </body>
</html>