<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>You signed in as: 
        <%= username %>
        Your mailadress:
        <%= email %><br>
        <a href="/home">Yay, random!</a>
    </p>
    </body>
</html>