<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<<<<<<< HEAD
    <body>        
        <p>Du bist eingeloggt als <%= username %><br>
            Deine E-Mail lautet <%= email %><br>
            <a href="/home">Weiter</a>
        <p>      
=======
    <body>
        <p>You signed in as: 
        <%= username %>
        Your mailadress:
        <%= email %><br>
        <a href="/home">Yay, random!</a>
    </p>
>>>>>>> 3757c1a868ceb63cc01b6d1972b4043dcbaa750d
    </body>
</html>