<!DOCTYPE html>
<html>
    <head>
        <title>Registration successful! Welcome to The Blobfish-Family!</title>
    </head>
    <body>
        <h1>Registration successfull</h1>
        <p>New blobfish has been created: 
        <%= username %>
        Your mail is:
        <%= email %><br>
        <a href="/start">Back to Login</a>
    </p>
    </body>
</html>