<!DOCTYPE html>
<html>
    <head>
        <title>Registration successful</title>
    </head>
    <body>
        <h1>Reistration successfull</h1>
        <p>User has been created: 
        <%= username %>
        Die E-Mail lautet
        <%= email %><br>
        <a href="/login.html">Back to Login</a>
    </p>
    </body>
</html>