<!DOCTYPE html>
<html>
    <head>
        <title>Data upload</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/main.css" media="screen"/>
    </head>
    <body>
        <!-- Here goes the content -->
        <!-- ToDo: Prüfen, ob die File ein .jpg, .png, oder .gif ist -->
        <!-- ToDo: File size überprüfen max. größe -->
        <div id="dropZone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <script language="javascript" type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>