<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <form action="/home">
            <button class="backbutton_design" type="submit"><strong>BACK TO HOME</strong></button>
        </form>
        <div id="wrap">
                <div id="middle_col">
                    <div id="middle_col_box">
                    <h1><strong>The Founders Of The Blobfish-Family:</strong></h1>
                           
                    <p> We are a group of students from the HAW-Hamburg (University Of Applied Sciences Hamburg). </p>
                    <p> This website is part of our project for the course "Angewandte Programmierung". </p>
                    <p> We are: </p>
                    <p>Stefan Kulow, 2435146 </p> <!--insert stefan as a blobfish icon here please  img<>-->
                    <p>Florian Pietrzak, 2251221 </p> <!--insert flo as a lovely blobfish icon here please-->
                    <p>Jacek Bannach, 2440765 </p> <!--insert jb as a smol blobfish icon here-->
                    <p>Melanie Haase, 2434961 </p> <!--insert melanies blobfish icon here please, thank you!-->
        
                    <h1><strong> Why Blobfish? </strong></h1> 
                  
                    <p>Let me explain: </p>
                    <p>It all started when we had our first group meeting and used Google.docs all together. In case you don´t know Google.docs, every unknown user gets a placeholder-name, containing an animal and the word "anonymous". For example "anonymous Trashpanda", "anonymous Chipmunk" or "anonymous Elefant".
                        Flo got in that session the placeholder-name "anonymous Blobfish", which was the start of our website. </p>
                    <p>Furthermore, since the blobfish was nominated as the "ugliest animal of the world" in 2013 at the "British Science Festival" in Newcastle, he became very popular on the internet. 
                         The blobfish is a meme today. So why not choose a meme-animal as a mascott for a meme-website? </p>
                    <p>Last, but not least, this very fish does absolutely nothing more than burying itself into the ocean bed and waiting for prey to come by. Also they don´t waste much energy or oxigen during their hunt. And if they want to move, they float through the sea like the epidomen of universes' grace and beauty. </p>
                    <p>To put it in a nutshell, only the mighty blobfish was good enough to be our mascott. 
                    </p>  
                    </div>
                </div>
                <div class="footer">
                        <img src="icons/icon-blobfish-white.svg" alt="logo" />
                        <p>© 2019 All Rights Reserved</p>
                </div>
        </div>
    </body>
</html>