body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background: #212121
}
/*HELPFULL*/
/*BACKBUTTON*/
.backbutton_design{
  background: #212121;
  color: white;
  padding: 10px 20px;
  border: 2px solid #ba3258;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.backbutton_design:hover{
  background-color: #ba3258;
  color: #000000;
  border: 2px solid #f1f1f1;
}
/* DESIGN LOGIN / REGISTER / CHANGE USER*/
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ba3258;
    overflow: auto;
  }
.box p{
  color:white;
  font-size: 20px;
}
.box p2{
  color:#ba3258;
  font-size: 20px;
}
#title{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
    color: #ba3258;
}
h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
  .box input[type = "submit"]{
    background: #ba3258;
    color: white;
    padding: 10px 20px;
    border: 2px solid #212121;
    outline: none;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
  }
  .box input[type = "text"],.box input[type  = "email"],.box input[type = "password"]{
    border: 0;
    background: #212121;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ba3258;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    font-size: 20px;
    border-radius: 24px;
    transition: 0.25;
    font-family: 'Courier New', Courier, monospace;
}
    .box input[type = "text"]:focus,.box input[type  = "email"]:focus,.box input[type = "password"]:focus{
        width: 280px;
}
  .box label {
    cursor:pointer;
    color: white;
    border: 2px solid #ba3258;
    padding: 2px 20px;
    border-radius: 5px;
    
  }
  .box label:hover{
    color: #000000;
    background-color: #ba3258;
  }
  #form-switch {
    display:none;
  }
  #register-form {
    display:none;
  }
/*Switch states*/
  #changeuser-switch{
    display:none;
  }
  #changepw-switch{
    display:none;
  }
  #changeemail-switch{
    display:none;
  }
  #deleteacc-switch{
    display:none;
  }
  #changeuser-form{
    display:none;
  }
  #changepw-form{
    display:none;
  }
  #changeemail-form{
    display:none;
  }
  #deleteacc-form{
    display:none;
  }
  #form-switch:checked~#register-form {
    display:block
  }
  #form-switch:checked~#login-form {
    display:none
  }
/*change switch state*/
  #changeuser-switch:checked~#changeuser-form {
    display:block
  }
  #changeuser-switch:checked~#main-form {
    display:none
  }
  #changepw-switch:checked~#changepw-form {
    display:block
  }
  #changepw-switch:checked~#main-form {
    display:none
  }
  #changeemail-switch:checked~#changeemail-form {
    display:block
  }
  #changemail-switch:checked~#main-form {
    display:none
  }
  #deleteacc-switch:checked~#deleteacc-form {
    display:block
  }
  #deleteacc-switch:checked~#main-form {
    display:none
  }

/* UPLOAD DESIGN (USES THE LOGIN BOX LAYOUT) */
.box__button{
    background: #212121;
    color: white;
    padding: 8px 20px;
    border: 2px solid #212121;
    outline: none;
    border: 2px solid #ba3258;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.box__button:hover{
  background-color: #ba3258;
  color: #000000;
  border: 2px solid #f1f1f1;
}
.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label{
    width: 70%;
    height: 70%;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    border: 2px solid #ba3258;
    background-color:#212121;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover{
    background-color: #ba3258;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

/* HOME SITE STYLE */
/*header top*/
.header{
  background-color: #393939;
  text-align: center;
  padding: 10px;
}
.header h1{
  color: #ba3258;
  text-shadow:  1px 1px 1px #751e37,
                1px -1px 1px #751e37,
                -1px 1px 1px #751e37,
                -1px -1px 1px #751e37;
}
/*nav container*/
.topnav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333333;

}
/*nav links*/
.topnav a{
  float: left;
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-left: 10px;
  text-decoration: none;
  border: 2px solid #ba3258;
  border-radius: 5px;
}

.topnav a:hover{
  background-color: #ba3258;
  color: black;
}

/* side menu */
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  transition: 0.5;

}
.bottom_box{
  position: absolute;
  bottom:8px;
  left:3px;
}
.sidenav a{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a{font-size: 16px;}
}


/* Main Content 3variable column */
#wrap{
  width: 90%;
  margin:0 auto;
}
#left_col{
  float:left;
  width: 85%;
  background-color: #333333;
  overflow: auto;
  color:black;
}
#left_col_box{
  margin: auto;
  width: 85%;
}
#left_col_box img{
  width: 100%;
  height: auto;
}
#right_col{
  float: right;
  width: 15%;
  background-color: #444444;
  text-align: center;
}
#right_col_box{
  margin:auto;
  width: 80%
}
#right_col_box img{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 700px){
  #right_col{float:none;;visibility: hidden;}
  #left_col{width: 100%;}
}
/*Like button*/
.wrap_likebox{
  width:90%;
  height: 30px;
}
.wrap_likebutton{
  float: left;
  background-color: #393939;
  font-size: 20px;
  color: white;
  border: 2px solid #ba3258;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
}
.wrap_likecounter{
  float:right;
  background-color: #393939;
  font-size: 20px;
  color: white;
  border: 2px solid #ba3258;
  border-radius: 2px;
}
.wrap_likebutton:hover{
  background-color: #ba3258;
  color: #000000;
}
/*footer style*/
.footer {
  clear: both;
  height: 10px;
  margin-top: -20px;
  background-color: #212121;
}
.footer p{
  text-align: right;
  padding: 10px;
  color: #f2f2f2;
}
/*
.column{
  float: left;
  padding: 10px;
}
.column.side{
  width: 15%;
}
.colum.middle{
  width: 70%;
}

.row:after{
  content: "";
  display: table;
  clear: both
}

*/

